@charset "UTF-8";
html {overflow-x:hidden;}
html, body {height:100%;}
#wrap {
  width:max-content; height:100%; position:fixed !important;
  @include boxSizing;
  @include transform(translateX(0));
}
#leftToRight {
  height:100%; will-change:content; position:relative;
  @extend %clearfix;
  
  .contents {
    float:left; margin:0 0 0 700px; text-align:center;
    div {
      padding:50px; font-size:50px; color:$white; margin:50px 0 0;
      &:nth-of-type(1) {padding:80px; background-color:blueviolet;}
      &:nth-of-type(2) {padding:60px; background-color:#ace25b;}
      &:nth-of-type(3) {padding:30px; background-color:#e2376a;}
      &:nth-of-type(4) {padding:100px; background-color:#00e291;}
    }
  }
}
.js-pall-con01, .js-pall-con02, .js-pall-con03 {position:relative;}
.js-pall-con01 {left:60%;}
.js-pall-con02 {left:80%;}
.js-pall-con03 {left:-60%;}







